.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ce1919, #f2fcfe);
  position: relative;
}

.login-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 60px;
  width: 28vh;
  padding-top: 150px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  /* z-index: 1; */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #a11010 !important;
}

label {
  display: block;
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
  color: #555;
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #007bff;
}
input:invalid {
  border-color: #c55454;
}
button.button-28 {
  width: 100%;
  padding: 12px;
  margin-top: 30px;
  background-color: #c55454 !important;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.button-28:hover {
  background-color: #ce1919 !important;
}

.register-p {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

p a {
  color: #a11010;
  text-decoration: none;
  transition: color 0.3s ease;
}

p a:hover {
  color: #0056b3;
}


.container {
  position: relative;
}


/* .right-image { */
  /* position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 500px; 

  @media (max-width: 1350px) {
    top:50%;
    left: 8%;
    width: 300px;
    transform: translateX(-50%,-50%);
  }
  @media (max-width: 1160px) {
    top: 12%; 
    width: 140px;
    transform: translateX(75%);
  }
  @media (max-width: 420px) {
    width: 140px;
    transform: translateX(-50%,-50%);
  }
  @media (max-width: 375px) {
    width: 130px;
  } */
/* } */
.right-image {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  
  /* z-index: -1; */
}

@media (max-width: 420px) {
  .right-image {
    width: 140px;
  }
}

@media (max-width: 375px) {
  .right-image {
    width: 130px;
  }
}
@media (max-width: 600px) {
  .login-wrapper {
    margin-top: 20%;
    padding: 40px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
    margin-bottom: 15px;
  }

  input {
    width: 100%;
  }

  button.button-28 {
    margin-top: 20px;
  }

  .register-p {
    margin-top: 15px;
    font-size: 12px;
  }
}