.member-form {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin: 0 auto;
  }
  .form-member{
    display: grid;
    justify-content: center;
  }
  .form-label {
    margin-bottom: 10px;
    width: 300px;
  }
  
  .form-input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  .form-select{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 290px;
    
  }
  .form-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .invalid {
    border: 1px solid red;
  }
  .form-input.invalid {
    border-color: red;
  }
  